.explorecompdiv1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.explorecompdiv2{
    display: block;
   margin: 0 auto;
   width: 80%;
    text-align: left;
    padding-left: 0px;
}
.explorecompdiv{
    border: 1px solid #879deb;
    width: 80%;
    margin: 0 auto;
    margin-top: 48px;
    border-radius: 5px;
    padding-bottom: 10px;
    font-family: 'Poppins';
    font-weight: 500px;
    line-height: 0.1px;
}

.explorecompbtndiv{
    margin-top: 10px;
}