.layout{
    display: flex;
    width: 100%;
   
}
.layout1{
    background-color: #ffffff;
    /* background-color: black; */
    width: 18%;
  
}
.layout2{
    background-color: #F5F8FC;
    width: 82%;
    height: 100%;
}
